<html>
<head>
  <title><%= content_for(:title, "Value Based Hospitals") %></title>
  <%= stylesheet_link_tag "jquery-ui/autocomplete" %>
</head>
<body>
<div class="primary ">

  <div class="row">
    <div class="small-12 columns">
      <h3>Find a Hospital in your area.</h3>
      <p>Enter a city to select from local hospitals.</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <div class="usa-card nested">
        <div class="usa-card-content nested">

          <form method="post">
            <div class="form-group">
              <input type="search" title="City" placeholder="City"
                     name="q"
                     id="city-search" class="ui-autocomplete-input"
                     autocomplete="off"/>
              <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
              <div class="actions">
                <button class="success small" id="search-btn">Find a Hospital Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>

</div>
</body>
</html>